/* Fuente personalizada para títulos */
@font-face {
    font-family: "Blippo Black";
    src: url("../assets/fonts/blippo-black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Fuente de títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Blippo Black", sans-serif;
}

/* Fuente de textos */
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--black);
    overflow-x: hidden;
}

::selection {
    background: var(--red);
    color: #fff; /* Puedes ajustar el color del texto seleccionado si lo deseas */
}

/* Estilos para navegadores basados en Webkit */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento vertical */
    height: 8px; /* Alto de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
    background: #333; /* Color de fondo de la pista */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(
        --red
    ); /* Color del "pulgar", usa una variable o un color fijo */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff4d4d; /* Color para el hover */
}
